.jcake-tabs {
    background-color: #efefef;
    padding: 1px 1px 1px 1px;

    .jcake-tab {
        background-color: #fff;
        padding: 10px;
    }
    .jcake-tabHeader-top,
    .jcake-tabHeader-bottom {
        @include shadow(0px, 0px, 5px, 0px, #ccc);

        background-color: #eee;
        border: {
            left: 1px solid #eee;
            right: 1px solid #eee;
        }
        color: #aaa;
        cursor: pointer;
        display: block;
        margin: 0px 0px 0px 7px;
        padding: 5px 15px 5px 15px;

        &:hover {
            @include shadow(0px, 0px, 5px, 0px, #aaa);

            border-color: #eee;
            color: #888;
        }
    }
    .jcake-tabHeader-top {
        @include rounded(3px, 3px, 0px, 0px);

        border-top: 1px solid #eee;
        margin-top: 5px;
    }
    .jcake-tabHeader-bottom {
        @include rounded(0px, 0px, 3px, 3px);

        border-bottom: 1px solid #eee;
        margin-top: 5px;
    }
    .jcake-selected-tab {
        @include shadow(0px, 0px, 5px, 0px, #aaa);

        background-color: #fff;
        border-color: #fff;
        color: #333;

        &:hover {
            border-color: #fff;
            color: #333;
        }
    }
    .jcake-tabHeaders-container {
        table {
            border-collapse: collapse;

            td {
                border-collapse: collapse;
                padding: 0px;
            }
        }
    }
}
