.jcake-tabs {
    .jcake-tabs-tabswrapper {
        background-color: #fff;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        position: relative;
        z-index: 1;
    }

    .jcake-tabs-headers {
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: relative;
        z-index: 2;

        &.jcake-tabs-headers-bottom {
            margin-top: -1px;

            .jcake-tabs-header {
                @include rounded(0px, 0px, 4px, 4px);

                &:hover {
                    border-top-color: #ccc;
                }

                &.jcake-tabs-header-selected {
                    background-color: #fff;
                    border-color: #ccc;
                    border-top: 1px solid #fff;
                    color: #555;
                    cursor: auto;
                }
            }
        }
        &.jcake-tabs-headers-top {
            margin-bottom: -1px;

            .jcake-tabs-header {
                @include rounded(4px, 4px, 0px, 0px);

                &:hover {
                    border-bottom-color: #ccc;
                }

                &.jcake-tabs-header-selected {
                    background-color: #fff;
                    border-color: #ccc;
                    border-bottom: 1px solid #fff;
                    color: #555;
                    cursor: auto;
                }
            }
        }

        .jcake-tabs-header {
            border: 1px solid transparent;
            color: #aaa;
            cursor: pointer;
            float: left;
            font: {
                family: $fontfamily;
                size: 14px;
            }
            margin-right: 3px;
            padding: 10px 15px;

            &:hover {
                background-color: #efefef;
                color: #888;
            }
        }
    }
}
