.jcake-tabs {
    .jcake-tabs-tabswrapper {
        background-color: #fff;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        position: relative;
        z-index: 1;
    }

    .jcake-tabs-headers {
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: relative;
        z-index: 2;

        &.jcake-tabs-headers-bottom {
            margin-top: -1px;

            .jcake-tabs-header {
                @include rounded(0px, 0px, 4px, 4px);

                border-top: none;

                &:hover {
                    padding-top: 9px;
                    margin-top: 1px;
                }

                &.jcake-tabs-header-selected {
                    margin-top: 0px;
                    padding-top: 10px;
                }
            }
        }
        &.jcake-tabs-headers-top {
            margin-bottom: -1px;

            .jcake-tabs-header {
                @include rounded(4px, 4px, 0px, 0px);

                border-bottom: none;

                &:hover {
                    padding-bottom: 9px;
                    margin-bottom: -1px;
                }

                &.jcake-tabs-header-selected {
                    margin-bottom: 0px;
                    padding-bottom: 10px;
                }
            }
        }

        .jcake-tabs-header {
            border: 1px solid transparent;
            color: #999;
            cursor: pointer;
            float: left;
            font: {
                family: $fontfamily;
                size: 14px;
            }
            margin-right: 3px;
            padding: 10px 15px;

            &:hover {
                background-color: #efefef;
                color: #888;
            }

            &.jcake-tabs-header-selected {
                background-color: #fff;
                border-color: #ccc;
                color: #555;
                cursor: auto;
            }
        }
    }
}
