/* Combo */

div.-cakedev-custom-combo {
	font-family: Helvetica, Tahoma, Arial;
	font-size: 20px;
	vertical-align: middle;
}
div.-cakedev-custom-combo table:hover .-cakedev-combo-optionText,
div.-cakedev-custom-combo table:hover .-cakedev-combo-arrow {
	background: #3C78B5;
	color: #fff;
}
div.-cakedev-custom-combo table {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

div.-cakedev-custom-combo .-cakedev-combo-optionText {
	color: #3c78b5;
	font-size: 20px;
	font-weight: bold;
	height: 27px;
	padding: 1px 8px 0px 5px;
	vertical-align: middle;
}

div.-cakedev-custom-combo .-cakedev-combo-arrow {
	padding: 0px 10px 0px 0px;
}
div.-cakedev-custom-combo .-cakedev-combo-arrow div {
	background: url("./images/downArrow.gif") no-repeat;
	display: block;
	height: 4px;
	width: 7px;
}

div.-cakedev-custom-combo div.-cakedev-combo-list-container {
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 5px 5px #ccc;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li {
	font-size: 16px;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li a {
	color: #333;
	display: block;
	font-weight: normal;
	padding: 5px 15px 5px 10px;
	text-decoration: none;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li a:hover {
	background-color: #eee;
	text-decoration: none;
}

/* Tabs */

div.-cakedev-tabs {
	padding: 1px 1px 1px 1px;
}

div.-cakedev-tabs div.-cakedev-tab {
	background: #fff;
	padding: 10px;
}

div.-cakedev-tabs span.-cakedev-tabHeader-top,
div.-cakedev-tabs span.-cakedev-tabHeader-bottom {
	background: #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	color: #aaa;
	cursor: pointer;
	display: block;
	margin: 0px 0px 0px 3px;
	padding: 5px 8px 5px 8px;
}

div.-cakedev-tabs span.-cakedev-tabHeader-top {
	border-top: 1px solid #eee;
	margin-top: 5px;
}

div.-cakedev-tabs span.-cakedev-tabHeader-bottom {
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}

div.-cakedev-tabs span.-cakedev-tabHeader-top:hover,
div.-cakedev-tabs span.-cakedev-tabHeader-bottom:hover {
	border-color: #aaa;
	color: #888;
}

div.-cakedev-tabs span.-cakedev-selected-tab {
	background: #fff;
	border-color: #fff;
	color: #333;
}

div.-cakedev-tabs span.-cakedev-selected-tab:hover {
	border-color: #fff;
	color: #333;
}

div.-cakedev-tabs .-cakedev-tabHeaders-container table {
	border-collapse: collapse;
}
