/* Combo */

div.-cakedev-custom-combo {
	font-family: Helvetica, Tahoma, Arial;
	font-size: 20px;
	vertical-align: middle;
}
div.-cakedev-custom-combo table:hover .-cakedev-combo-optionText,
div.-cakedev-custom-combo table:hover .-cakedev-combo-arrow {
	background: #3c78b5;
	color: #fff;
}
div.-cakedev-custom-combo table {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

div.-cakedev-custom-combo .-cakedev-combo-optionText {
	color: #3c78b5;
	font-size: 20px;
	font-weight: bold;
	height: 27px;
	padding: 1px 8px 0px 5px;
	vertical-align: middle;
}

div.-cakedev-custom-combo .-cakedev-combo-arrow {
	padding: 0px 10px 0px 0px;
}
div.-cakedev-custom-combo .-cakedev-combo-arrow div {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAABdCAYAAAAxOO9bAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAAhxJREFUeNrt29FxgkAUhWFKsARKsARKsIQtwRIowRIoYUvYEsxj3kgHdEDQWR0TExE453DvKDP32W/+cZSF3aLv+8LbFG+0Cn26Pj6/tsPEYfoF0w4TCvJ1Rg8fVA3TLQTfThpmw0a3QPBljiz4Bd2TJjLRHRFesdA1EX1koTfk2gGOzj95ByK6ZaFLIhpa+4rO8IZZG/UT+BvNrl3D0YLaHaL2X2jzte/QGZ4s1/4PXZFrH+BoQe3TlAw0u3YDR1uuPYYOZHSEozO8JcMrBppdO8HRFms/izZV+yl0hndk+I6BrsnoloHeCGoHKNpS7aloE7UnoUW1R29d56DZi4TRhcJktGBJNlp7LnrV2rPQwtolGq2o3UDRGR4F8BKNrtaovQgtWpLd1UagFbUTFC2sXaHRO2VtCFq0JLvWRqKDAH2EooW1AxqtqN2i0bUA3SG/04pVzfnuD4neK74aHn/yAvLPJagqI9GyyqgbpuDuhilvRumVT1U9LAISeuWS1JWXLmwVlSN6NZ7WWNRaf1jTeHss9vAd42s8gFz74eOch+qrV56DPqxd2eKLov1rv5Kz9DpuCtpMZUsv9HdQtMutE+42qVis/AyaXXn73uLmbjOh5cqP0OwNsiUUnY9D+dqK7G7Tt8vt9R4q/0C7PDLCPi5SAC+/x6C8HjhzebTP5N/1GNrlcVX01odIPxh8c88RAXVDQb7eJ/SV8w31icrUx6tCOQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	display: block;
	height: 4px;
	width: 7px;
}

div.-cakedev-custom-combo div.-cakedev-combo-list-container {
	background: #fff;
	border: 1px solid #ddd;
	position: absolute;
	
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 5px 5px #ccc;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li {
	font-size: 16px;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li a {
	color: #333;
	display: block;
	font-weight: normal;
	padding: 5px 15px 5px 10px;
	text-decoration: none;
}
div.-cakedev-custom-combo div.-cakedev-combo-list-container ul li a:hover {
	background-color: #eee;
	text-decoration: none;
}

/* Tabs */

div.-cakedev-tabs {
	padding: 1px 1px 1px 1px;
}
div.-cakedev-tabs div.-cakedev-tab {
	background: #fff;
	padding: 10px;
}
div.-cakedev-tabs span.-cakedev-tabHeader-top,
div.-cakedev-tabs span.-cakedev-tabHeader-bottom {
	background: #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	color: #aaa;
	cursor: pointer;
	display: block;
	margin: 0px 0px 0px 3px;
	padding: 5px 8px 5px 8px;
}
div.-cakedev-tabs span.-cakedev-tabHeader-top {
	border-top: 1px solid #eee;
	margin-top: 5px;
}

div.-cakedev-tabs span.-cakedev-tabHeader-bottom {
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}
div.-cakedev-tabs span.-cakedev-tabHeader-top:hover,
div.-cakedev-tabs span.-cakedev-tabHeader-bottom:hover {
	border-color: #aaa;
	color: #888;
}
div.-cakedev-tabs span.-cakedev-selected-tab {
	background: #fff;
	border-color: #fff;
	color: #333;
}
div.-cakedev-tabs span.-cakedev-selected-tab:hover {
	border-color: #fff;
	color: #333;
}
div.-cakedev-tabs .-cakedev-tabHeaders-container table {
	border-collapse: collapse;
}
div.-cakedev-tabs .-cakedev-tabHeaders-container table tr td {
	border-collapse: collapse;
	padding: 0px;
}

/* Slideshow */

div.-cakedev-slideshow {
	display: block;
	overflow: hidden;
}
div.-cakedev-slideshow:hover div.-cakedev-slideshow-arrowleft,
div.-cakedev-slideshow:hover div.-cakedev-slideshow-arrowright {
	visibility: visible;
}
div.-cakedev-slideshow div.-cakedev-slideshow-slide {
	overflow: hidden;
	position: relative;
}
div.-cakedev-slideshow div.-cakedev-slideshow-arrowleft,
div.-cakedev-slideshow div.-cakedev-slideshow-arrowright {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 93px;
	position: relative;
	visibility: hidden;
	width: 45px;
	z-index: 992;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	opacity: .40;
	-khtml-opacity: 0.4;
	-moz-opacity: .40;
	filter: alpha(opacity=40);
}
div.-cakedev-slideshow div.-cakedev-slideshow-arrowleft:hover,
div.-cakedev-slideshow div.-cakedev-slideshow-arrowright:hover {
	opacity: .60;
	-khtml-opacity: 0.6;
	-moz-opacity: .60;
	filter: alpha(opacity=60);
}
div.-cakedev-slideshow div.-cakedev-slideshow-arrowleft {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAABdCAYAAAAxOO9bAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAAjtJREFUeNrtm12RgzAUhZGwEiqhEioBCUioBCRUAhKQEAnsY99YBzhgA0Nn2G0pgZxzkkzpzH1tvvn4O7lJsr7vs9QqO6BV0Ozf9/2nsNXa6j2qtnUe/o8KbQf5smU8YefV2brQoCfgBgj8qJYJXROAx6JAD5eQBTzcIizohghdwqGnNwXN8vCsMKBbIvQN/sojWx7qBIWeXnFMy9VjLCR0qbAMg54sdwrLSGiZZQi0wLL5PyYC+ka2fIFCD5eNDGxejesLXakte0GHsuwLXZOhCyg0OXqOQf/d+HuhTSjLu6BDW94LHdTyZmj7hzkZuHPh2ArdkqFLKLQg4I9TKTR0FJadoWOy7AQtiJ6bLLtCswP+U8j3ghZZrrZ+kdego7P8FnqKntFZXoOuYrS8CC0I+GNnf++MaQlaYfkCgxZZNj4dgFfQJmbLT9CCgO9t+RW0wnIOgxZZbjPAbw7dCKALGLQgesIsz6HbVCzPoTsBdImGVqS5TbMT1wdRcYtc0dBFcq88oe0CDZ2E7VCBqUBDKz7nDRQ6hXi6BB11RH03sa1jtb3WQojS9lqzpkqqWSO0jW2LJdmAjLUJ6dpUj8q2K7TC9g0KPYFfk1soSnJJLqYFoz3LzMFt74HOQ08SPmPrRLKbVELb9oE+h7L9WVvcQm5zQ2zblNtGQLNXdg0cWhRdzwzo9DZ9i2yfGNAy2599ZEQUXSsWdHrHoAQLqeVxtE/1eT+Oqy6Ao/vcufIItq/1v0ewjxP6ovoFRcbK1Dq5rC4AAAAASUVORK5CYII=);
}

div.-cakedev-slideshow div.-cakedev-slideshow-arrowright {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAABdCAYAAAAxOO9bAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAAhxJREFUeNrt29FxgkAUhWFKsARKsARKsIQtwRIowRIoYUvYEsxj3kgHdEDQWR0TExE453DvKDP32W/+cZSF3aLv+8LbFG+0Cn26Pj6/tsPEYfoF0w4TCvJ1Rg8fVA3TLQTfThpmw0a3QPBljiz4Bd2TJjLRHRFesdA1EX1koTfk2gGOzj95ByK6ZaFLIhpa+4rO8IZZG/UT+BvNrl3D0YLaHaL2X2jzte/QGZ4s1/4PXZFrH+BoQe3TlAw0u3YDR1uuPYYOZHSEozO8JcMrBppdO8HRFms/izZV+yl0hndk+I6BrsnoloHeCGoHKNpS7aloE7UnoUW1R29d56DZi4TRhcJktGBJNlp7LnrV2rPQwtolGq2o3UDRGR4F8BKNrtaovQgtWpLd1UagFbUTFC2sXaHRO2VtCFq0JLvWRqKDAH2EooW1AxqtqN2i0bUA3SG/04pVzfnuD4neK74aHn/yAvLPJagqI9GyyqgbpuDuhilvRumVT1U9LAISeuWS1JWXLmwVlSN6NZ7WWNRaf1jTeHss9vAd42s8gFz74eOch+qrV56DPqxd2eKLov1rv5Kz9DpuCtpMZUsv9HdQtMutE+42qVis/AyaXXn73uLmbjOh5cqP0OwNsiUUnY9D+dqK7G7Tt8vt9R4q/0C7PDLCPi5SAC+/x6C8HjhzebTP5N/1GNrlcVX01odIPxh8c88RAXVDQb7eJ/SV8w31icrUx6tCOQAAAABJRU5ErkJggg==);
}
